.bg{
    background-image: url("../../../assets/berlin.png");
    width: 100%;
    height: 500px;
    max-width: 100%;
    padding: 2em;
}
.home-title{
    text-align: center;
}
.home-container{
    padding: 4.5em;
}
.welcome-container{
    padding: 1em;
    margin-left: 2em;
}
.welcome-title {
    font-size: 26px;
    vertical-align: middle;
}
.navigate-btn{
    margin-top: 1em;
}
