body{
    background-color: #f9f8f8;
}
.loader{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.center{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.input-container{
    padding-bottom: 1em;
}